@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
  /* display: none; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  /* display: none; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #1b1b1b; */
  display: none;
}
